aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
faiss-cpu
fastapi
filetype
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
idna
jiter
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langsmith
marshmallow
multidict
mypy_extensions
numpy
openai
orjson
packaging
pip
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydantic-settings
pyparsing
pypdf
PyPDF2
python-dotenv
python-multipart
PyYAML
regex
requests
requests-toolbelt
rsa
sniffio
SQLAlchemy
starlette
tenacity
tiktoken
tqdm
typing_extensions
typing-inspect
typing-inspection
uritemplate
urllib3
uvicorn
yarl
zstandard